.tittle {
    font-size: 23px;
    font-weight: 700;
}
.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;

}
.daily-detail-grid-item {
    display: flex;
    height: 30px;
    justify-content: space-between;
    text-align: center;
}
.daily-detail-grid-item label:first-child {
    color: rgb(26, 7, 7);
    font-weight: 600;
}
.daily-detail-grid-item label:last-child {
    color: #725bb8;
    font-weight: 800;
}
.temperature-chart {
    margin-top: 20px; /* Space above the chart */
    padding: 10px;    /* Internal padding */
    background-color: white; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    width: 500px;
    padding-right: 20px;
    position: relative;
    right: 10px;
  }
  
  .temperature-chart .recharts-wrapper {
    width: 100%; /* Ensure chart is responsive */
  }
  
  .temperature-chart .recharts-tooltip-wrapper {
    background-color: white; /* Tooltip background */
    border-radius: 4px; /* Rounded corners for tooltip */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Tooltip shadow */
  }
  
  .temperature-chart .recharts-surface {
    overflow: visible; /* Ensure any overflow is shown */
  }

  .accordion__item {
    width: 300px;
  }

  .wrap-flex {
    display: flex;
    justify-content: space-between;
    width: 500px;
    
  }
  .wrap-box {
    width: 50%;
  }

  @media only screen and (max-width: 520px) {
    .temperature-chart {
      width: 400px;
      padding-left: 50px;
    }
    
    .wrap-flex {
      width: 200px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
    .min-max {
      margin-right: 10px;
    }
    
    

  }

  @media only screen and (max-width: 470px) {
    .temperature-chart {
      width: 350px;
    }
    
    .wrap-box {
      position: relative;
      right: 30px;
    }

  }