.tittle {
    font-size: 23px;
    font-weight: 700;
}
.daily-item {
    background-color: #725bb8;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 20px;
}

.icon-small {
    width: 40px;
}

.day {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}
.description {
    color: lightgray;
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: lightblue;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}
.daily-detail-grid-item {
    display: flex;
    height: 30px;
    justify-content: space-between;
    text-align: center;
}
.daily-detail-grid-item label:first-child {
    color: rgb(26, 7, 7);
    font-weight: 600;
}
.daily-detail-grid-item label:last-child {
    color: #725bb8;
    font-weight: 800;
}
.temperature-chart {
    margin-top: 20px; /* Space above the chart */
    padding: 10px;    /* Internal padding */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .temperature-chart .recharts-wrapper {
    width: 100%; /* Ensure chart is responsive */
  }
  
  .temperature-chart .recharts-tooltip-wrapper {
    background-color: white; /* Tooltip background */
    border-radius: 4px; /* Rounded corners for tooltip */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Tooltip shadow */
  }
  
  .temperature-chart .recharts-surface {
    overflow: visible; /* Ensure any overflow is shown */
  }
  