.weather {
    max-width: 400px;
    border-radius: 6px;
    color: #333;
    background-color: #fff;
    margin: 20px 0 0 0;
    padding: 20px 20px 20px 20px;
}

.top,
.bottom {
    
    align-items: center;
}

.city {
    position: relative;
    bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1;
    text-align: center;
}

.weather-description {
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    text-align: center;
    margin: 20px 0 20px 0;

}

.weather-icon {
    width: 100px;
    margin-right: 20px;
}

.temperature {
    font-weight: 600;
    font-size: 70px;
    min-width:  200px;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}



.parameter-label {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px;
    color: rgb(144, 141, 141);
}

.parameter-value {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.up {
    position: relative;
    bottom: 10px;
}

.date {
    font-size: 20px;
    color: lightslategrey;
    text-align: center;
}

.icon-temp {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    margin-top: 20px;
}

@media only screen and (max-width: 470px) {
    .wrap-search {
        padding-left: 0;
        width: 330px;
        margin-left: auto;
        margin-right: auto ;
    }
    .weather {
        width: 330px;
    }
}

