.async-paginate__control {
    width: 832px;
    margin-top: 5px;
}
.async-paginate__menu {
    width: 40px;
    border-radius: 4px;
}
.wrap-search {
    display: flex;
    justify-content: center;
    width: auto;
}
.wrap-search {
    padding: 10px 0 0 10px;

}
.title-name {
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
    .async-paginate__control {
        width: 400px;
    }
}

@media only screen and (max-width: 520px) {
    .async-paginate__control {
        width: 350px;
    }
    .wrap-search {
        width: auto;
    }
}
@media only screen and (max-width: 470px) {
    .async-paginate__control {
        width: 300px;
    }
}
@media only screen and (max-width: 400px) {
    .async-paginate__control {
        width: 250px;
    }
}
@media only screen and (max-width: 340px) {
    .async-paginate__control {
        width: 200px;
    }
}
