.async-paginate__control {
    width: 355px;
    margin-top: 5px;
}
.async-paginate__menu {
    width: 40px;
    border-radius: 4px;
}
.wrap-search {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.wrap-search {
    padding: 10px 0 0 20px;

}
.title-name {
    margin-right: 10px;
}
@media only screen and (max-width: 520px) {
    .async-paginate__control {
        width: 200px;
    }
    .wrap-search {
        width: auto;
    }
}
