.title-header {
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.contai {
  width: 470px;
}
@media only screen and (max-width: 1000px){
  .container {
    flex-direction: column;
    width: auto;
  }
  .contai {
    margin-left: auto;
    margin-right: auto;
  }
  .two-block {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 425px) {
  .title-header {
    font-size: 25px;
  }
  .contai {
    width: 380px;
  }
}
@media only screen and (max-width: 400px) {
  .two-block {
    width: 380px;
  }
}
@media only screen and (max-width: 350px) {
  .two-block {
    width: 300px;
  }
}

