

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 740px){
  .container {
    flex-direction: column;
    width: auto;
  }
  .contai {
    margin-left: auto;
    margin-right: auto;
  }
  .two-block {
    margin-left: auto;
    margin-right: auto;
  }
}

